<% if admin?(current_user) %>  
  <div data-controller="form" class="space-y-2">
    <% if supercharged?(@tenant) %>  
      <%= link_to new_business_path, class: "w-full cursor-pointer inline-flex items-center justify-center gap-2 rounded-md border border-gray-200 bg-white px-2.5 py-2 text-xs font-semibold text-gray-700 hover:bg-gray-50", data: {controller: "model", turbo_frame: "modal-content"} do %>
            <%= inline_svg_tag "s-plus.svg", class: "h-4 w-4" %>
            Add business
      <% end %>
    <% else %>
      <%= link_to subscription_path,
        data: { controller: "modal", turbo_frame: "modal-content" },
        class: "w-full cursor-pointer inline-flex items-center justify-center gap-2 rounded-md border border-gray-200 bg-white px-2.5 py-2 text-xs font-semibold text-gray-700 hover:bg-gray-50" do %>
        <%= inline_svg_tag "s-plus.svg", class: "h-4 w-4" %>
        Add business
      <% end %>
    <% end %>
  </div>
<% end %>