# fly.toml app configuration file generated for adminer-a6da2q on 2026-02-28T02:22:38Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'adminer-a6da2q'
primary_region = 'sin'
console_command = '/rails/bin/rails console'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
