app = 'adminer-a6da2q'
primary_region = 'iad'
console_command = '/rails/bin/rails console'

[build]
  dockerfile = "Dockerfile"

[env]
  THRUSTER_HTTP_PORT = "8080"
  HTTP_PORT = "8080"
  PORT = "8080"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024