<div class="rounded-full flex items-center cursor-pointer justify-center" >
  <%= image_tag path, fallback: "avatar-fallback.svg", class: "w-10 object-cover h-10 border-2 bg-gray-700 border-gray-200 rounded-full" %>
</div>
