<nav class="mt-5">
  <ul class="flex flex-col gap-3">
    <li>
      <%= link_to "General", settings_path, class: "text-gray-600 font-sembold text-base rounded-md py-2 hover:bg-gray-100 transition-all" %>
    </li>
  </ul>
</nav>